body {
    background-size: 100% 70%;
    background-repeat: no-repeat;
    margin: 0;
    padding-bottom: 10em;
    background-position: center 20%;
    background-color: rgb(247, 240, 234);
}

h1 {
    background-color: #B36A93;
    padding: 0.3em;
    border: 0.2em solid #B36A93;
    color: #f3eaea;
    text-align: center;
    position: relative;
    font-size: 1.9em;
}

.choose {
    background-color: #B36A93;
    padding: 0.6em;
    text-align: center;
    width: 100%;
}

button {
    background-color: #f3eaea;
    border: 0.13em solid #B36A93;
    border-radius: 0.6em;
    color: #B36A93;
    padding: 0.25em;
    font-size: 1.56em;
    margin-left: 0.9em;
    font-family: 'Times New Roman', Times, serif;
}

#confettieButton {
    background-color: #721248; 
    border: 0.2em; 
    color: #f3eaea; 
    font-size: 1.7em; 
    font-weight: bold;
    padding: 0.5em 1em;
    border-radius: 0.6em; 
}

#confettieButton:hover {
    background-color: #d356a4;
    transform: scale(1.05);
}

button:hover {
    background-color: #B36A93;
    color: #f3eaea;
}

#confettiImage {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;  
    height: auto; 
}

/* figuur foto's: https://paperthinpersonas.com/2011/02/27/pixie-amelia/ */

#dressUpContainer {
    display: grid;
    place-items: center;
    position: relative;
    width: fit-content;
    margin: auto;
}

/* Robin Van der Heijden heeft me geholpen */
#figuurContainer {
    position: relative;
}

/* topjes */
#topContainer {
    position: absolute;
    top: 7.5em;
    left: -0.4em;
}

#topContainer img {
    width: 18em;
    height: auto;
}

/* broeken */
#bottomContainer {
    position: absolute;
    top: 12.5em;
    left: 4em;
}

#bottomContainer img {
    width: 9.4em;
    height: auto;
}

/* schoenen */
#shoesContainer {
    position: absolute;
    top: 19.6em;
    left: 5.2em;
}

#shoesContainer img {
    width: 7.2em;
    height: auto;
}

